
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    height: 10%;
    padding-top: 25px ;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}
nav{
    display: flex;
}
#logo{

    height: auto;
    width: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin: 0 3.5rem 0 0;
    font-family: "Open Sans", sans-serif;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.slider img{
    flex: 100%;
    scroll-snap-align: start;
}
.slider::-webkit-scrollbar{
    display: none;
}

.botones_slider {
    background-color: black;
    height: 100px;
    width: 100%;
}
.botones_slider{
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.botones_slider a{
    padding: 38px 3px;
    text-decoration: none;
    color: aliceblue;
    opacity: 75%;
}
.botones_slider a:hover{
    opacity: 1;
}
.botones_slider a:active{
    opacity: 1;
}