body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./imgs/fondo.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-color: black;
    height: 10%;
    padding-top: 25px ;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}
nav{
    display: flex;
}
#logo{

    height: auto;
    width: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    text-align: center;
    padding: 16px;
    color: white;
    text-decoration: none;
    margin: 0 3.5rem 0 0;
    font-family: "Open Sans", sans-serif;
}
.slider_wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    position: relative;
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.slider::-webkit-scrollbar{
    display: none;
}

.titulos{
    font-family: "Saira", sans-serif;
    font-size: 3.2rem;
    line-height: 50px;
}

.text-overlay {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 15px 15px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    width: 40%;
    text-align: left;
}

.botones_slider {
    background-color: black;
    height: 100px;
    width: 100%;
}
.botones_slider{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.botones_slider a{
    padding: 38px 3px;
    text-decoration: none;
    color: aliceblue;
    opacity: 75%;
}
.botones_slider a:hover{
    opacity: 1;
}

#contenedor{
    display: flex;
    background: rgb(43,141,161);
    background: radial-gradient(circle, rgba(43,141,161,1) 0%, rgba(0,0,0,1) 79%, rgba(2,0,36,1) 100%);
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#texto_avances{
    width: 30%;
    height: 80%;
    
}
#carrusel{
    width: 60%;
    height: 80%;
}
#img_fondo{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}
#centro_fondo{
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#centro_fondo p{
    font-size: 1.5rem;
}
#estudio{
    width: 100%;
    height: 800px;
    background-color: black;
    
}
#espacio{
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;

}
.viñeta{
    overflow: hidden;
    position: relative;
    margin: 0;
}
.viñeta img{
    width: 100%;
}
.small{
    height: 250px;
    width: 28%;
}
.large{
    height: 250px;
    width: 45%;
}
.texto_estudio{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 50%;
}
#Casos{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
#Casos >h3{
    margin: 0;
    padding: 0;
}
#Productos{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 25px   ;
    justify-content: space-between;
    height: 600px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 200px;
}
#Productos h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    width: 100%;
}
#prod_des{
    width: 100%;
}
.prod{
    width: 25%;
    padding: 10px;
}
.prod img{
    width: 100%;
}
.prod p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.boton{
    color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
}
.boton:hover{
    background-color: #fff;
    color: #000;
}
#noticias{
    background-image: linear-gradient(black,#202020);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 200px;
}

#tit{
    width: 100%;
    height: 50px;
}
#tit h2{
    margin: 0;
    padding: 0;
}
.noti{
    width: 18%;
}
.noti img{
    width: 100%;
}