body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: black;
    height: 10%;
    padding-top: 25px ;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}
nav{
    display: flex;
}
#logo{

    height: auto;
    width: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    text-align: center;
    padding: 16px;
    color: white;
    text-decoration: none;
    margin: 0 3.5rem 0 0;
    font-family: "Open Sans", sans-serif;
}
.slider_wrapper {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    position: relative;
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.slider::-webkit-scrollbar{
    display: none;
}

.titulos{
    font-family: "Saira", sans-serif;
    font-size: 3.2rem;
    line-height: 50px;
}

.text-overlay {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 15px 15px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    width: 40%;
    text-align: left;
}

.botones_slider {
    background-color: black;
    height: 100px;
    width: 100%;
}
.botones_slider{
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.botones_slider a{
    padding: 38px 3px;
    text-decoration: none;
    color: aliceblue;
    opacity: 75%;
}
.botones_slider a:hover{
    opacity: 1;
}

#fondo_azul{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(1,70,91,1) 0%, rgba(0,0,0,1) 100%);
    height: 500px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 200px;
    padding-left: 200px;
}
#contenedor_carrusel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#texto_avances{
    width: 30%;
}
#carrusel_wrapper{
    width: 100%;
    position: relative;
    overflow: auto;
    padding: 75px;
}
#carrusel{ 
    height: 100%;
    width: fit-content;
    overflow-x: hidden;
    display: flex;
}
#carrusel_wrapper::-webkit-scrollbar{
    width: 80px;
    height: 5px;
}
#carrusel_wrapper::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
}
#carrusel_wrapper::-webkit-scrollbar-track{
    background: rgba(61, 61, 61, 0.795);
}
.tarjeta_carrusel{
    height: 100%;
    width: 300px;
    background-color:#27282b;
    margin-left: 25px;
    margin-right: 25px;
}
.imagen_carrusel{
    height: 50%;
    width: 100%;
}
.imagen_carrusel img{
    width: 100%;
}
.texto_carrusel{
    display: block;
    align-items: end;
    height: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.texto_carrusel h3{
    margin: 0;
    padding: 0;
}
.texto_carrusel p{
    margin: 0;
    padding: 0;
}
#img_fondo{
    background-image: url("./imgs/fondo.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
}
#centro_fondo{
    height: 300px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#centro_fondo p{
    font-size: 1.5rem;
}
#estudio{
    width: 100%;
    height: 800px;
    background-color: black;
    
    
}
#espacio{
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}
.viñeta{
    overflow: hidden;
    position: relative;
    margin: 0;
}
.viñeta img{
    width: 100%;
}
.small{
    height: 275px;
    width: 35%;
}
.large{
    height: 275px;
    width: 62%;
}
.texto_estudio{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 50%;
}
#Casos{
    width: 100%;
    text-align: left;
    
    height: 50px;
}
#Casos >h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
#Productos{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 25px   ;
    justify-content: space-between;
    height: 600px;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 200px;
}
#Productos h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    width: 100%;
}
#prod_des{
    width: 100%;
}
.prod{
    width: 25%;
    padding: 10px;
}
.prod img{
    width: 100%;
}
.prod p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.boton{
    color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease;
}
.boton:hover{
    background-color: #fff;
    color: #000;
}
#noticias{
    background-image: linear-gradient(black,#202020);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 200px;
}

#tit{
    width: 100%;
    height: 50px;
}
#tit h2{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.noti{
    width: 19%;
    background-color: #202020;
    padding: 15px;
    height: 300px;
}
.noti img{
    width: 100%;
}
#destacadas{
    background-color: #000;
    height: 400px;
    padding-top: 150px;
    padding-bottom: 150px;;
    padding-right: 200px;
    padding-left: 200px;
}
#destacadas h3{
    font-family: "Saira", sans-serif;
    margin-bottom: 25px;
}
#destacadas > .slider_wrapper >.slider > .slide >.text-overlay{
    position: absolute;
    top: 50%;
    left: 25%;
}
.footer {
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    background-color: #000;
  }
  
  .footer-column {
    margin: 0 10px;
  }
  
  .footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    color: #fff;
  }
  #ul_footer li{
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
  }

  #ul_footer li:hover{
    color: #fff;
  }

  /*----------------------  ESTILOS PARA LA SEGUNDA PAGINA DE HTML    -----------------*/
#max_ren{
    position: relative;
}
#max_ren .text-overlay{
    left: 30%;
    width: 35%;
    top: 50%;

}
#fondo_2{
    width: 100%;
    height: 550px;
    display: block;
    object-fit: cover;
}
.cont_logo{
    width: 200px;
}
.cont_logo img{
    width: 100%;
}
#sec img{
    width: 100%;
    display: block;
    object-fit: cover;
}
#sec{
    position: relative;
}
.texto_sobre_img_der{
    top: 50%;
    left: 75%;
    width: 35%;
}
.texto_sobre_img_der p{
    font-size: 16px;
}
.texto_sobre_img_izq{
    top: 50%;
    right: 75%;
    width: 35%;
}
.texto_sobre_img_izq p{
    font-size: 16px;
}
.info_p2 .img_fondo_info{
    width: 100%;
    height: 550px;
    display: block;
    object-fit: cover;
}
.info_p2{
    position: relative;
    height: 550px;
}
#fondo_p2{
    background-image: url("./imgs/fondo_estreallado_rojo.avif");
    background-attachment: fixed;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
}
#contenedor_fondo{
    display: flex;
    flex-wrap: wrap;
    width: inherit;;
    padding-top: 50px;
    padding-bottom: 50px;;
    padding-right: 400px;
    padding-left: 400px;
}
#mucho_mas{
    width: 100%;

}
#mucho_mas h3{
    font-size: 26px;
    margin: 0;
    padding: 0;
}
#mucho_mas p{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}
.caja{
    height: 390px;
}
.izq{
    padding: 25px;
    width: 25%;
}
.izq p{
    font-size: 13px;
}
.der{
    width: 66.6%;
}
.cont_barras{
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}
.barra{
    display: flex;
    height: 35px;
    margin-top: 2.5px;
    padding-right: 10px;
    align-items: center;
    justify-content: right;
}
.ren_1{
    background-color: rgb(237, 28, 36);
    width: 95%;
}
.ren_2{
    background-color: rgb(115, 116, 120);
    width: 31%;
}
.ren_3{
    background-color: rgb(237, 28, 36);
    width: 98%;
}
.ren_4{
    background-color: rgb(115, 116, 120);
    width: 31%;
}
.medida{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}
.medida p{
    width: 10px;
    font-size: 10px;
    align-items: center;
}
.items_barra{
    width: 100%;
    display: flex;  
}
.items_barra p{
    font-size: 12px;
    margin: 0;
    padding: 0;
    
}
.cuadrado_color{
    height: 20px;
    width: 20px;
    margin: 10px;
}
.rojo{
    background-color: rgb(237, 28, 36);
}
.gris{
    background-color: rgb(115, 116, 120);
}
#fondo_3{
    background-image: url("./imgs/fondo_rayitas.avif");
    background-attachment: fixed;
    background-size: cover;
    height: 180vh;
    width: 100%;
    display: flex;
}
#contenedor_fondo_3{
    display: block;
    width: inherit;
    padding-top: 50px;
    padding-bottom: 50px;;
    padding-right: 200px;
    padding-left: 200px;
}
#logo_fondo_rayas{
    width: 200px;
}
#logo_fondo_rayas img{
    width: 100%;
}
#viñetas_trans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}
#viñetas_trans h2{
    width: 100%;
    text-align: center;
}
.viñetas_rayitas{
    background-color: rgba(0, 0, 0, 0.4);;
    width: 25%;
    padding: 25px;
}
#contenedor_colapso{
    height: 80vh;
    display: block;
    margin-right: 200px;
    margin-left: 200px;
    gap: 25px   ;
}
#contendor_texto_4{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
#contendor_texto_4 h3{
    padding: 0;
    margin: 0;
}
#contenedor_texto_3{
    height: 350px;
    margin-right: 200px;
    margin-left: 200px;
}
#contenedor_botones_p2{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.tab-button{
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.67);
}
.tab-button:hover{
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    color: white;
}
.tab-button:checked{
    color: white;
}
.collapsible-list{
    width: 100%;
}
#america{
    display: none;
}
#europa_1{
    display: none;
}
#europa_2{
    display: none;
}
#medio_oriente{
    display: none;
}

#tab-america:checked ~ #america,
#tab-europa-1:checked ~ #europa_1,
#tab-europa-2:checked ~ #europa_2,
#tab-medio-oriente:checked ~ #medio_oriente {
    display: block;
}
#separador{
    width: 100%;
    background-color: #ccc;
    height: 2px;
}
.fila_colapsable{
    display: flex;
    height: 57px;
    width: 100%;
    background-color: rgb(52, 53, 54);
    padding-left: 25px;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.fila_colapsable:hover{
    background-color: #636466;

    /*-------------pruebas de colapsable-------------------------*/
}
.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  .lbl-toggle {
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 57px;
    width: 100%;
    background-color: rgb(52, 53, 54);
    cursor: pointer;
    transition: all 0.25s ease-out;
    border-bottom: 1px solid #fff;
  }
  
  .lbl-toggle:hover {
    background-color: #636466;
  }
  
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }
  
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .collapsible-content .content-inner {
    display: flex;
    justify-content: space-evenly;
    background: black;
    border-bottom: 1px solid #fff;
    padding: .5rem 1rem;
  }
  .contenedor_imagen_p2{
    width: 15%;
    padding: 1%;
  }
  .contenedor_imagen_p2 img{
    width: 100%;
  }

  #intro{
    background-image: url("./imgs/banner.avif");
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 375px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }
  #texto_intro{
    margin-left: 325px;
    width: 30%;
    height: 80%;
  }

  #titulo_intro{
    font-family: "Saira", sans-serif;
    font-size: 2.2rem;
    line-height: 50px;
  }
  #dragon{
    background-image: url("./imgs/fondo_dragon.avif");
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
  }
  #contenido_dragon h3{
    font-size: 1.95rem;
    margin-bottom: 10px;
    color: #fff;
  }
  #contenido_dragon p{
    font-size: 21px;
    margin-bottom: 10px;
    color: #fff;
  }
  #video_dragon{
    width: 70%;
    margin: auto;
  }
  #video_dragon img{
    width: 100%;
  }
  #video_negro{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
  }
  #texto_negro{
    width: 40%;
  }
  #cont_video_negro{
    width: 40%;
  }
  #cont_video_negro img{
    width: 100%;
  }
